<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cart</ion-title>
    <ion-buttons slot="end">
       <ion-button>
         <ion-badge>{{count}}</ion-badge>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <div *ngIf=""></div>
  <ion-icon name="cart-outline"></ion-icon> -->
<div *ngIf="cartItems.length === 0" >Your Cart Is empty</div>
<div *ngIf="cartItems.length > 0">
  <div *ngFor="let product of cartItems">
    {{product.name}} {{product.price}}
    {{product.qty}}
    {{(product.qty * product.price) | currency: 'R'}}
 </div>
   <h4>Total: {{cartTotal | currency: 'R'}}</h4>
</div>
</ion-content>
