<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SUPA RESTAURANT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
       <ion-col col-6>
          <ion-col>
            <ion-card>
              <img src="">
              <h4>Bacon Burger</h4>
              <p>Price: R450</p><ion-button expand="block" color="primary" size="small">ADD</ion-button>
            </ion-card>
          </ion-col>
          <ion-col>
              <ion-card>
                <img src="">
                <h4>Bacon Burger</h4>
                <p>Price: R450</p><ion-button expand="block" color="primary" size="small">ADD</ion-button>
              </ion-card>
          </ion-col>
       </ion-col>
       <ion-col col-6>
        <ion-col>
            <ion-card>
              <img src="">
              <h4>Bacon Burger</h4>
              <p>Price: R450</p><ion-button expand="block" color="primary" size="small">ADD</ion-button>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
              <img src="">
              <h4>Bacon Burger</h4>
              <p>Price: R450</p><ion-button expand="block" color="primary" size="small">ADD</ion-button>
            </ion-card>
        </ion-col>

    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
