<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tech Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
       <ion-col size="4" *ngFor="let product of productList"> 
        <ion-card>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa6ZxxxOq4rcneDcf5kII2UFCAwTu43l82AhkZpfMvvCernKOh32srGMcb8Mk&usqp=CAc">
          <h4>{{product.name}}</h4>
          <p>{{product.price | currency: 'R'}}</p>
          <ion-button expand="block" color="primary" size="small" (click)="add()">ADD</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

<div *ngIf="cartItems.length > 0">
<div *ngFor="let cart of cartItems" >
    {{product.name}} {{product.price}}
</div>
</div>
</ion-content>
