<ion-header>
  <ion-toolbar>
    <ion-title>productList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
       <ion-col> 
          <ion-col>
            <ion-card>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa6ZxxxOq4rcneDcf5kII2UFCAwTu43l82AhkZpfMvvCernKOh32srGMcb8Mk&usqp=CAc">
              <h4>{{product.name}}</h4>
              <p>{{4500 | currency: 'R'}}</p>
              <ion-button expand="block" color="primary" size="small">ADD</ion-button>
            </ion-card>
          </ion-col>
       </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
